#logout__arrow,
#archive__t,
#template__t,
#help-desk__bookmark,
#home__house,
#portfolio_pen,
#portfolio_case,
#bin__lid,
#calculate,
#back,
#copy :is(#top, #right),
:is(#tick, #cross) #mark,
#arrow_right,
#arrow_left,
#box_one,
#box_two,
#paper {
  transition: var(--transition_standard)
}

/* Home */
.nav_item:hover #home__house {
  transform: translateY(-3px)
}

/* Help Desk */
#help-desk__bookmark {
  opacity: 0;
  transform: scaleY(0) translateY(1px)
}
.nav_item:hover #help-desk__bookmark {
  opacity: 1;
  transform: scaleY(1)
}

/* Template */
.nav_item:hover #template__t {
  transform: translateY(4px)
}

/* Portfolio */
.nav_item:hover #portfolio_pen {
  transform: translateX(4px)
}
.nav_item:hover #portfolio_case {
  transform: translateX(-2px)
}

/* Archive */
:is(.nav_item, .archive_icon, .a_link):hover #archive__t {
  transform: translateY(-6px)
}
:is(.archive_icon, .a_link):hover #bin__lid {
  transform: translateX(6px)
}

/* Account */
@keyframes inf-spin {
  from {
    transform: rotateZ(0)
  }
  to {
    transform: rotateZ(360deg)
  }
}
.nav_item:hover #account__cog {
  transform-origin: center;
  animation: inf-spin 5s infinite linear
}

/* Logout */
.nav_item:hover #logout__arrow {
  transform: translateX(-6px)
}

/* Calculate */
.a_link:hover #calculate {
  transform: rotate(90deg)
}

/* Back */
.a_link:hover #back {
  transform: translateX(-5px)
}

/* Duplicate */
.a_link:hover #copy #top {
  transform: translateX(-1px)
}
.a_link:hover #copy #right {
  transform: translateX(2px)
}

/* Multiselect - tick and cross */
.a_link :is(#tick, #cross) {
  transition: .2s transform cubic-bezier(.165, .84, .44, 1)
}
.a_link:hover :is(#tick, #cross) {
  transform: scale(.8);
  border-radius: 50%;
  background-color: var(--base)
}
.a_link:hover :is(#tick, #cross) #mark {
  fill: white
}
.a_link:hover :is(#tick, #cross) #circle {
  fill: transparent
}

/* Multiselect - arrows */
.a_link #shift #arrow_right {
  transform: translateX(-1px)
}
.a_link #shift #arrow_left {
  transform: translateX(1px)
}
.a_link:hover #arrow_right {
  transform: translateX(2px)
}
.a_link:hover #shift #arrow_right {
  transform: translateX(1px)
}
.a_link:hover #shift #arrow_left {
  transform: translateX(-1px)
}

/* Multiselect - box */
.a_link:hover #box_one {
  transform: translateX(-7px)
}
.a_link:hover #box_two {
  transform: translateX(7px)
}

/* Arrows */

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  #logout__arrow,
  #archive__t,
  #template__t,
  #help-desk__bookmark,
  #home__house,
  #portfolio_pen,
  #portfolio_case,
  #bin__lid {
    transition: none
  }
}

/* No Hover */
@media (max-width: 992px), (prefers-reduced-motion: reduce) {
  /* None */
  .nav_item:hover #home__house,
  .nav_item:hover #template__t,
  :is(.nav_item, .archive_icon, .a_link):hover #archive__t,
  .archive_icon:hover #bin__lid,
  .nav_item:hover #account__cog,
  .nav_item:hover #logout__arrow,
  .nav_item:hover #portfolio_pen,
  .nav_item:hover #portfolio_case,
  .a_link:hover #calculate,
  .a_link:hover #back,
  .a_link:hover #copy :is(#top, #right),
  :is(#tick, #cross) #mark {
    transform: none;
    animation: none
  }

  /* Help Desk */
  #help-desk__bookmark,
  .nav_item:hover #help-desk__bookmark {
    opacity: 1;
    transform: scaleY(1)
  }
}
